<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
        <h1 class="my-4">Quan tri san pham</h1>
        <h3><%= product ? 'Sua san pham' : 'Them san pham' %></h3>
        <form action="<%= product ? '/edit-product/'+product._id : '/add-product' %>" method="post">
            <div class="form-group">
              <label for="">id</label>
              <input type="text"
                class="form-control" name="id" required value="<%= product ? product.id : '' %>">   
            </div>
            <div class="form-group">
                <label for="">name</label>
                <input type="text"
                  class="form-control" name="name" required value="<%= product ? product.name : '' %>">   
            </div>
            <div class="form-group">
                <label for="">price</label>
                <input type="text"
                  class="form-control" name="price" required value="<%= product ? product.price : '' %>">   
            </div>
            <div class="form-group">
                <label for="">des</label>
                <input type="text"
                  class="form-control" name="des" required value="<%= product ? product.des : '' %>">   
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- list of product -->
         <h3 class="my-4">Danh sach san pham</h3>
         <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Des</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                    <tr>
                        <td scope="row"><%= product.id %></td>
                        <td><%= product.name %></td>
                        <td><%= product.price %></td>
                        <td><%= product.des %></td>
                        <td>
                            <!-- sua -->
                            <a href="/edit-product/<%= product._id %>" class="btn btn-warning btn-sm">Sua</a>
                            <!-- xoa -->
                            <form action="/delete-product/<%= product._id %>" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Xoa</button>
                            </form> 
                        </td>
                    </tr>
                <% }) %>
            </tbody>
         </table>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>